ui-rating {
	/* Container */
	&::part(root) {
		@apply flex flex-row items-center;
	}

	/* Left Half */
	&::part(star-left) {
		@apply ml-px h-3.5 w-[7px];
		@apply rounded-none border-0 bg-yellow-400;
		@apply appearance-none;
		@apply transition-all duration-200;
		mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTkyJyBoZWlnaHQ9JzE4MCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBmaWxsPSdibGFjaycgZD0nbTk2IDE1My4wNDQtNTguNzc5IDI2LjI0MyA3LjAyLTYzLjUxM0wuODk0IDY4LjQ4MWw2My4xMTctMTMuMDFMOTYgMGwzMS45ODkgNTUuNDcyIDYzLjExNyAxMy4wMS00My4zNDcgNDcuMjkyIDcuMDIgNjMuNTEzeicgZmlsbC1ydWxlPSdldmVub2RkJy8+PC9zdmc+);
		mask-position: left;
		mask-size: 200%;
		mask-repeat: no-repeat;
	}

	/* Right Half */
	&::part(star-right) {
		@apply mr-px h-3.5 w-[7px];
		@apply rounded-none border-0 bg-yellow-400;
		@apply appearance-none;
		@apply transition-all duration-200;
		mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTkyJyBoZWlnaHQ9JzE4MCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBmaWxsPSdibGFjaycgZD0nbTk2IDE1My4wNDQtNTguNzc5IDI2LjI0MyA3LjAyLTYzLjUxM0wuODk0IDY4LjQ4MWw2My4xMTctMTMuMDFMOTYgMGwzMS45ODkgNTUuNDcyIDYzLjExNyAxMy4wMS00My4zNDcgNDcuMjkyIDcuMDIgNjMuNTEzeicgZmlsbC1ydWxlPSdldmVub2RkJy8+PC9zdmc+);
		mask-position: right;
		mask-size: 200%;
		mask-repeat: no-repeat;
	}

	/* Editable */
	&[editable] {
		&::part(star-left),
		&::part(star-right) {
			@apply h-4 w-2;
			@apply cursor-pointer;
			@apply hover:opacity-50;
			@apply hover:-translate-y-px;
		}
	}
}

input:checked {
	background-image: none !important;
	~ input {
		background-color: #e5e7eb !important;
	}
}

span.product-rating {
	@apply flex flex-row items-center gap-2;

	p {
		@apply font-serif text-sm;
		@apply text-secondary;
	}
}
