<template id="rating-template">
	<span part="root">
		<input
			class="hidden"
			name="rating"
			type="radio"
			value="0"
		/>
		<input
			name="rating"
			type="radio"
			part="star-left"
			value="1"
		/>
		<input
			name="rating"
			type="radio"
			part="star-right"
			value="2"
		/>
		<input
			name="rating"
			type="radio"
			part="star-left"
			value="3"
		/>
		<input
			name="rating"
			type="radio"
			part="star-right"
			value="4"
		/>
		<input
			name="rating"
			type="radio"
			part="star-left"
			value="5"
		/>
		<input
			name="rating"
			type="radio"
			part="star-right"
			value="6"
		/>
		<input
			name="rating"
			type="radio"
			part="star-left"
			value="7"
		/>
		<input
			name="rating"
			type="radio"
			part="star-right"
			value="8"
		/>
		<input
			name="rating"
			type="radio"
			part="star-left"
			value="9"
		/>
		<input
			name="rating"
			type="radio"
			part="star-right"
			value="10"
		/>
	</span>
</template>
