ui-button {
	/* Button */
	&::part(root) {
		@apply inline-flex place-content-center items-center gap-x-2;
		@apply rounded-md border;
		@apply text-sm font-semibold;
		@apply focus:outline-none disabled:pointer-events-none disabled:opacity-50;

		/* Fill Variants */
		&[fill='solid'] {
			@apply border-transparent;
			@apply bg-blue-600 text-white hover:bg-blue-700;
		}
		&[fill='outline'] {
			@apply border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500;
		}
		&[fill='ghost'] {
			@apply border-transparent;
			@apply text-blue-600 hover:bg-blue-100 hover:text-blue-800;
			@apply dark:text-blue-500 dark:hover:bg-blue-800/30 dark:hover:text-blue-400;
		}

		/* Size Variants */
		&[size='sm'] {
			@apply px-3 py-2;
		}
		&[size='md'] {
			@apply px-4 py-3;
		}
		&[size='lg'] {
			@apply p-4 sm:p-5;
		}

		&[round] {
			@apply rounded-full;
		}
	}

	/* Spinner */
	&::part(spinner) {
		@apply hidden;
		@apply size-4;
		@apply rounded-full border-[3px] border-current border-t-transparent;
		@apply animate-spin;

		&[loading] {
			@apply inline-block;
		}
	}
}
