<template id="numeric-input-template">
	<div part="root">
		<ui-button
			id="decrement-button"
			fill="outline"
			exportparts="root: button"
		>
			<svg
				class="lucide lucide-minus"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path d="M5 12h14" />
			</svg>
		</ui-button>
		<input
			class="[&::-webkit-inner-spin-button]:appearance-none"
			part="input"
			type="number"
			value="0"
		/>
		<ui-button
			id="increment-button"
			fill="outline"
			exportparts="root: button"
		>
			<svg
				class="lucide lucide-plus"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path d="M5 12h14" />
				<path d="M12 5v14" />
			</svg>
		</ui-button>
	</div>
</template>
