@font-face {
	font-style: normal;
	font-weight: 700;
	src:
		local('Montserrat'),
		url('/public/fonts/Montserrat-Bold.woff2') format('woff2');
	font-family: montserrat;
}

@font-face {
	font-style: normal;
	font-weight: 900;
	src:
		local('Montserrat'),
		url('/public/fonts/Montserrat-Black.woff2') format('woff2');
	font-family: montserrat;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Sans Pro'),
		url('/public/fonts/SourceSansPro-Regular.woff2') format('woff2');
	font-family: source sans pro;
}

@font-face {
	font-style: normal;
	font-weight: 200;
	src:
		local('Source Sans Pro'),
		url('/public/fonts/SourceSansPro-ExtraLight.woff2') format('woff2');
	font-family: source sans pro;
}

@font-face {
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Sans Pro'),
		url('/public/fonts/SourceSansPro-Light.woff2') format('woff2');
	font-family: source sans pro;
}

@font-face {
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Sans Pro'),
		url('/public/fonts/SourceSansPro-Semibold.woff2') format('woff2');
	font-family: source sans pro;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Sans Pro'),
		url('/public/fonts/SourceSansPro-Bold.woff2') format('woff2');
	font-family: source sans pro;
}

@font-face {
	font-style: normal;
	font-weight: 900;
	src:
		local('Source Sans Pro'),
		url('/public/fonts/SourceSansPro-Black.woff2') format('woff2');
	font-family: source sans pro;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Serif Pro'),
		url('/public/fonts/SourceSerifPro-Regular.woff2') format('woff2');
	font-family: 'source serif pro';
}

@font-face {
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Serif Pro'),
		url('/public/fonts/SourceSerifPro-Light.woff2') format('woff2');
	font-family: 'source serif pro';
}

@font-face {
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Serif Pro'),
		url('/public/fonts/SourceSerifPro-SemiBold.woff2') format('woff2');
	font-family: 'source serif pro';
}

@font-face {
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Serif Pro'),
		url('/public/fonts/SourceSerifPro-Bold.woff2') format('woff2');
	font-family: 'source serif pro';
}

@font-face {
	font-style: normal;
	font-weight: 900;
	src:
		local('Source Serif Pro'),
		url('/public/fonts/SourceSerifPro-Black.woff2') format('woff2');
	font-family: 'source serif pro';
}
