@font-face {
	font-style: normal;
	font-weight: 700;
	src:
		local('Montserrat'),
		url('/fonts/Montserrat-Bold.woff2') format('woff2');
	font-family: montserrat;
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 900;
	src:
		local('Montserrat'),
		url('/fonts/Montserrat-Black.woff2') format('woff2');
	font-family: montserrat;
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Sans Pro'),
		url('/fonts/SourceSansPro-Regular.woff2') format('woff2');
	font-family: source sans pro;
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Sans Pro'),
		url('/fonts/SourceSansPro-Semibold.woff2') format('woff2');
	font-family: source sans pro;
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Sans Pro'),
		url('/fonts/SourceSansPro-Bold.woff2') format('woff2');
	font-family: source sans pro;
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 900;
	src:
		local('Source Sans Pro'),
		url('/fonts/SourceSansPro-Black.woff2') format('woff2');
	font-family: source sans pro;
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Serif Pro'),
		url('/fonts/SourceSerifPro-Regular.woff2') format('woff2');
	font-family: 'source serif pro';
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Serif Pro'),
		url('/fonts/SourceSerifPro-Light.woff2') format('woff2');
	font-family: 'source serif pro';
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Serif Pro'),
		url('/fonts/SourceSerifPro-SemiBold.woff2') format('woff2');
	font-family: 'source serif pro';
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Serif Pro'),
		url('/fonts/SourceSerifPro-Bold.woff2') format('woff2');
	font-family: 'source serif pro';
	font-display: fallback;
}

@font-face {
	font-style: normal;
	font-weight: 900;
	src:
		local('Source Serif Pro'),
		url('/fonts/SourceSerifPro-Black.woff2') format('woff2');
	font-family: 'source serif pro';
	font-display: fallback;
}
