@import url('https://fonts.cdnfonts.com/css/montserrat?styles=17389,17391');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro?styles=14484,14486,14491,14483,14488,14493');
@import url('https://fonts.cdnfonts.com/css/source-serif-pro?styles=20103,20104,20100');

@import url('/src/components/Avatar/styles.css') layer(components);
@import url('/src/components/Button/styles.css') layer(components);
@import url('/src/components/Dropdown/styles.css') layer(components);
@import url('/src/components/Modal/styles.css') layer(components);
@import url('/src/components/NumericInput/styles.css') layer(components);

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Make all elements have position relative to make it easy to position absolute */
* {
	@apply relative;
	@apply ring-blue-400 focus:z-10 focus:ring;
}

@layer components {
	/* Primitive web components should only display their contents */
	[component] {
		@apply contents;
	}

	/* Make all icon sizes the same as their container font size */
	.lucide {
		@apply text-[1em];
	}
}
@layer components {
	.company-title {
		@apply flex justify-center;
	}
	.footer-components {
		@apply m-1 box-border rounded-2xl bg-[#1f2937] text-white;
	}

	.bottom-bar {
		@apply grid gap-4;
		@apply justify-center;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		/* grid-template-columns:1fr 1fr ; */

		margin: 2rem;

		padding: 25px 30px;
	}
	.about-copyright > div {
		@apply mr-2 flex flex-col
		items-center
		justify-center
		p-2 text-center;
	}
}
@layer components {
	.statistics {
		/* @apply w-[1200px]; */
		@apply flex flex-row;
		@apply rounded-md border-2 border-border bg-white;

		.card {
			@apply flex flex-1 flex-row items-center;
			@apply px-6 py-5;
			@apply border-[0.1px] border-slate-100 bg-white;

			.group {
				@apply flex flex-1 flex-col;

				@apply m-5 gap-1;

				.label {
					@apply text-xs font-light tracking-wide text-secondary;
					/* font-size: 12px; */
				}
			}

			.icon {
				@apply size-6 text-secondary;
			}
		}
	}
	.this-stat {
		@apply text-xl font-extrabold;
	}

	.percantage-group {
		@apply mr-4  flex flex-row  gap-x-1 rounded-sm bg-slate-50 px-1;
	}

	.this-stat-group {
		@apply flex flex-row items-baseline gap-2;
	}

	.duration {
		@apply text-slate-400;
	}
}
/* navigations top bar styles */
@layer components {
	nav {
		@apply relative flex flex-nowrap justify-center;
	}

	nav > a {
		@apply text-center no-underline;
	}

	.nav-center-group > nav > a {
		@apply mx-2 h-7 w-24 rounded-sm bg-slate-50 py-2 text-center text-[0.4rem] text-slate-400;
	}
	/* responsive */
	.nav-center-group {
		@apply hidden md:block;
	}
	.page-title {
		@apply font-sans text-sm font-extrabold text-slate-500;
	}
	/* .nav-end-group {
} */

	.navbar {
		@apply flex flex-nowrap items-center  justify-between;
		@apply border-[1px] border-slate-100 bg-white px-4;
	}
	.nav-icon {
		@apply size-4;
	}
	.nav-end-group > nav > a {
		@apply m-2   text-[gray];
	}
	.nav-start-group {
		@apply m-2 flex flex-row flex-nowrap items-center;
	}
}
/* History/Sale Table Styling */

@layer components {
	.order-table {
		/* @apply min-w-full divide-gray-200 dark:divide-gray-700; */

		@apply min-w-full rounded-md border-[0.5px] border-[solid] border-slate-400;
		@apply m-4;
	}
	.table-head {
		@apply border-b-[1px] border-[solid] border-slate-200;
	}

	.table-head > tr > th {
		@apply px-6 py-3  text-start text-xs font-medium uppercase
		text-gray-500;
	}
	/* .table-body {
		@apply  divide-gray-200 dark:divide-gray-700;
	} */
	.table-body > tr > td {
		@apply px-6 py-3  text-start text-xs font-medium uppercase;
	}
	.order-number {
		@apply text-blue-600 underline;
	}
	.status-delivered > div {
		@apply bg-slate-50  py-2 align-baseline text-slate-400;
	}

	.status-waiting > div {
		@apply bg-blue-50  py-2 align-baseline text-blue-400;
	}
	.order-status > div {
		@apply flex flex-row justify-around gap-0 rounded-md;
		.icon {
			@apply size-4;
		}
	}
	.order-amount {
		@apply flex flex-row justify-around gap-0;
		.currency {
			@apply text-slate-500;
		}
	}
}
