<template id="navbar-template">
	<header class="admin navbar">
		<section>
			<img
				class="company-logo"
				alt="company-logo"
				src="/DJI 1.svg"
			/>
			<h2 class="page-title">Admin</h2>
		</section>
		<section class="nav-center-group">
			<nav>
				<a href="">Sale history</a>
				<a href="">product list</a>
				<a href="">Registered Users</a>
				<a href="">Analytics</a>
				<a href="">Settings</a>
			</nav>
		</section>
		<section class="nav-end-group">
			<nav>
				<a href="">
					<!-- <img
                    alt="Search-icon"
                    src="./temp-images/search.svg"
                /> -->
					<i
						alt="search-icon"
						data-lucide="search"
					></i>
				</a>
				<a href="">
					<!-- <img
                    alt="cart-icon"
                    src="./temp-images/shopping-cart.svg"
                /> -->
					<i
						alt="shopping-cart"
						data-lucide="shopping-cart"
					></i>
				</a>
				<a href="">
					<!-- <img
                        alt="user-icon"
                        src="./temp-images/user.svg"
                    /> -->
					<i
						alt="user"
						data-lucide="user"
					></i>
				</a>
			</nav>
		</section>
	</header>
</template>
