<template id="navbar-template">
	<header class="navbar">
		<div class="row">
			<span class="left-spacer group"></span>
			<div class="logo group">
				<a href="/">
					<img
						alt="Image showing the logo of the company, DJI."
						src="/icons/DJI Logo.svg"
					/>
					<h2></h2>
				</a>
			</div>
			<nav class="tabs group">
				<ui-button
					class="active"
					fill="ghost"
					href="/admin/index.html"
				>
					<svg
						class="lucide lucide-hand-coins"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17" />
						<path
							d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"
						/>
						<path d="m2 16 6 6" />
						<circle
							cx="16"
							cy="9"
							r="2.9"
						/>
						<circle
							cx="6"
							cy="5"
							r="3"
						/>
					</svg>
					Sale History
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/products.html"
				>
					<svg
						class="lucide lucide-package-search"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path
							d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14"
						/>
						<path d="m7.5 4.27 9 5.15" />
						<polyline points="3.29 7 12 12 20.71 7" />
						<line
							x1="12"
							x2="12"
							y1="22"
							y2="12"
						/>
						<circle
							cx="18.5"
							cy="15.5"
							r="2.5"
						/>
						<path d="M20.27 17.27 22 19" />
					</svg>
					Product List
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/users.html"
				>
					<svg
						class="lucide lucide-users"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
						<circle
							cx="9"
							cy="7"
							r="4"
						/>
						<path d="M22 21v-2a4 4 0 0 0-3-3.87" />
						<path d="M16 3.13a4 4 0 0 1 0 7.75" />
					</svg>
					Registered Users
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/analytics.html"
				>
					<svg
						class="lucide lucide-area-chart"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M3 3v18h18" />
						<path d="M7 12v5h12V8l-5 5-4-4Z" />
					</svg>
					Analytics
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/settings.html"
				>
					<svg
						class="lucide lucide-settings"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path
							d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
						/>
						<circle
							cx="12"
							cy="12"
							r="3"
						/>
					</svg>
					Settings
				</ui-button>
			</nav>
			<div class="actions group">
				<ui-button
					class="action-button"
					fill="ghost"
				>
					<svg
						class="lucide lucide-search"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<circle
							cx="11"
							cy="11"
							r="8"
						/>
						<path d="m21 21-4.3-4.3" />
					</svg>
				</ui-button>
				<ui-dropdown
					class="cart"
					id="cart-dropdown"
					placement="bottom"
				>
					<ui-button
						class="action-button"
						fill="ghost"
						slot="toggle"
					>
						<svg
							class="lucide lucide-shopping-cart"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<circle
								cx="8"
								cy="21"
								r="1"
							/>
							<circle
								cx="19"
								cy="21"
								r="1"
							/>
							<path
								d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
							/>
						</svg>
					</ui-button>

					<ui-numeric-input value="2"></ui-numeric-input>
					<hr />
					<span class="price-label">
						<p>Subtotal</p>
						<ui-price-display size="sm">3,889.00</ui-price-display>
					</span>
					<span class="price-label">
						<p>Shipping Fee</p>
						<ui-price-display size="sm">100.00</ui-price-display>
					</span>
					<hr />
					<span class="price-label">
						<p>Total</p>
						<ui-price-display size="md">3,999.00</ui-price-display>
					</span>
					<ui-button
						class="w-full"
						fill="solid"
					>
						Confirm Purchase
						<svg
							class="lucide lucide-arrow-right"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path d="M5 12h14" />
							<path d="m12 5 7 7-7 7" />
						</svg>
					</ui-button>
				</ui-dropdown>
				<ui-dropdown
					class="account"
					id="account-dropdown"
					placement="bottom"
				>
					<ui-button
						class="action-button"
						fill="ghost"
						slot="toggle"
					>
						<svg
							class="lucide lucide-user"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
							<circle
								cx="12"
								cy="7"
								r="4"
							/>
						</svg>
					</ui-button>

					<div
						class="contents"
						id="logged-out-content"
					>
						<ui-button
							class="ui-dropdown-item"
							href="/login.html"
						>
							<svg
								class="lucide lucide-log-in"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
								<polyline points="10 17 15 12 10 7" />
								<line
									x1="15"
									x2="3"
									y1="12"
									y2="12"
								/>
							</svg>
							Log In
						</ui-button>
						<ui-button
							class="ui-dropdown-item"
							href="/registration.html"
						>
							<svg
								class="lucide lucide-user-plus"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
								<circle
									cx="9"
									cy="7"
									r="4"
								/>
								<line
									x1="19"
									x2="19"
									y1="8"
									y2="14"
								/>
								<line
									x1="22"
									x2="16"
									y1="11"
									y2="11"
								/>
							</svg>
							Create Account
						</ui-button>
					</div>
					<div
						class="contents"
						id="logged-in-content"
					>
						<ui-button
							class="user-details"
							id="account-button"
							href="/customer/index.html"
							fill="ghost"
						>
							<ui-avatar size="sm">MF</ui-avatar>
							<div class="info">
								<h3 id="user-name">Muhammad Fauzan</h3>
								<ui-price-display size="xs">3,889.00</ui-price-display>
							</div>
						</ui-button>
						<hr />
						<div
							class="contents"
							id="customer-links"
						>
							<ui-button
								class="ui-dropdown-item"
								href="/customer/index.html#my_balance"
							>
								<svg
									class="lucide lucide-wallet"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path d="M21 12V7H5a2 2 0 0 1 0-4h14v4" />
									<path d="M3 5v14a2 2 0 0 0 2 2h16v-5" />
									<path d="M18 12a2 2 0 0 0 0 4h4v-4Z" />
								</svg>
								My Balance
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/customer/index.html#past_orders"
							>
								<svg
									class="lucide lucide-clipboard-list"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<rect
										width="8"
										height="4"
										x="8"
										y="2"
										rx="1"
										ry="1"
									/>
									<path
										d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
									/>
									<path d="M12 11h4" />
									<path d="M12 16h4" />
									<path d="M8 11h.01" />
									<path d="M8 16h.01" />
								</svg>
								Past Orders
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/customer/index.html#saved_address"
							>
								<svg
									class="lucide lucide-map-pin"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
									<circle
										cx="12"
										cy="10"
										r="3"
									/>
								</svg>
								Saved Address
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/customer/index.html#appearance"
							>
								<svg
									class="lucide lucide-palette"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<circle
										cx="13.5"
										cy="6.5"
										r=".5"
										fill="currentColor"
									/>
									<circle
										cx="17.5"
										cy="10.5"
										r=".5"
										fill="currentColor"
									/>
									<circle
										cx="8.5"
										cy="7.5"
										r=".5"
										fill="currentColor"
									/>
									<circle
										cx="6.5"
										cy="12.5"
										r=".5"
										fill="currentColor"
									/>
									<path
										d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z"
									/>
								</svg>
								Appearance
							</ui-button>
						</div>
						<div
							class="contents"
							id="admin-links"
						>
							<ui-button
								class="ui-dropdown-item"
								href="/admin/index.html"
							>
								<svg
									class="lucide lucide-hand-coins"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17" />
									<path
										d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"
									/>
									<path d="m2 16 6 6" />
									<circle
										cx="16"
										cy="9"
										r="2.9"
									/>
									<circle
										cx="6"
										cy="5"
										r="3"
									/>
								</svg>
								Sale History
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/admin/products.html"
							>
								<svg
									class="lucide lucide-package-search"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path
										d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14"
									/>
									<path d="m7.5 4.27 9 5.15" />
									<polyline points="3.29 7 12 12 20.71 7" />
									<line
										x1="12"
										x2="12"
										y1="22"
										y2="12"
									/>
									<circle
										cx="18.5"
										cy="15.5"
										r="2.5"
									/>
									<path d="M20.27 17.27 22 19" />
								</svg>
								Product List
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/admin/users.html"
							>
								<svg
									class="lucide lucide-users"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
									<circle
										cx="9"
										cy="7"
										r="4"
									/>
									<path d="M22 21v-2a4 4 0 0 0-3-3.87" />
									<path d="M16 3.13a4 4 0 0 1 0 7.75" />
								</svg>
								Registered Users
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/admin/analytics.html"
							>
								<svg
									class="lucide lucide-area-chart"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path d="M3 3v18h18" />
									<path d="M7 12v5h12V8l-5 5-4-4Z" />
								</svg>
								Analytics
							</ui-button>
							<ui-button
								class="ui-dropdown-item"
								href="/admin/settings.html"
							>
								<svg
									class="lucide lucide-settings"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path
										d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
									/>
									<circle
										cx="12"
										cy="12"
										r="3"
									/>
								</svg>
								Settings
							</ui-button>
						</div>
						<hr />
						<ui-button
							class="ui-dropdown-item"
							id="logout-button"
						>
							<svg
								class="lucide lucide-log-out"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
								<polyline points="16 17 21 12 16 7" />
								<line
									x1="21"
									x2="9"
									y1="12"
									y2="12"
								/>
							</svg>
							Log Out
						</ui-button>
					</div>
				</ui-dropdown>
			</div>
		</div>
		<div class="row">
			<nav class="tabs group">
				<ui-button
					class="active"
					fill="ghost"
					href="/admin/index.html"
				>
					<svg
						class="lucide lucide-hand-coins"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17" />
						<path
							d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"
						/>
						<path d="m2 16 6 6" />
						<circle
							cx="16"
							cy="9"
							r="2.9"
						/>
						<circle
							cx="6"
							cy="5"
							r="3"
						/>
					</svg>
					Sale History
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/products.html"
				>
					<svg
						class="lucide lucide-package-search"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path
							d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14"
						/>
						<path d="m7.5 4.27 9 5.15" />
						<polyline points="3.29 7 12 12 20.71 7" />
						<line
							x1="12"
							x2="12"
							y1="22"
							y2="12"
						/>
						<circle
							cx="18.5"
							cy="15.5"
							r="2.5"
						/>
						<path d="M20.27 17.27 22 19" />
					</svg>
					Product List
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/users.html"
				>
					<svg
						class="lucide lucide-users"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
						<circle
							cx="9"
							cy="7"
							r="4"
						/>
						<path d="M22 21v-2a4 4 0 0 0-3-3.87" />
						<path d="M16 3.13a4 4 0 0 1 0 7.75" />
					</svg>
					Registered Users
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/analytics.html"
				>
					<svg
						class="lucide lucide-area-chart"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M3 3v18h18" />
						<path d="M7 12v5h12V8l-5 5-4-4Z" />
					</svg>
					Analytics
				</ui-button>
				<ui-button
					fill="ghost"
					href="/admin/settings.html"
				>
					<svg
						class="lucide lucide-settings"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path
							d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
						/>
						<circle
							cx="12"
							cy="12"
							r="3"
						/>
					</svg>
					Settings
				</ui-button>
			</nav>
		</div>
	</header>
</template>
