<!-- <template id="bottom-bar">
	<block name="app">
		<link
			rel="stylesheet"
			href="../....//../styles/admin.css"
		/>
		<script
			type="module"
			src="../../../../../src/scripts/index.ts"
		></script>
		<footer>
			<section class="footer-components">
				<section>
					<h2 class="company-title">DJI</h2>
				</section>
				<section class="bottom-bar">
					<section>
						<h2>Marketplace</h2>
						<h4>Mavic</h4>
						<h4>Air</h4>
						<h4>Mini</h4>
						<h4>Phantom</h4>
						<h4>Avata</h4>
						<h4>FPV</h4>
						<h4>Inspire</h4>
						<h4>Matrice</h4>
					</section>
					<section>
						<h2>Customer</h2>
						<h4>My Balance</h4>
						<h4>Past Orders</h4>
						<h4>Saved Adress</h4>
						<h4>Apeaerance</h4>
					</section>
					<section>
						<h2>Admin</h2>
						<h4>Pending Orders</h4>
						<h4>Product Catalouge</h4>
					</section>
					<section>
						<h2>Legal</h2>
						<h4>Terms and Conditions</h4>
						<h4>License</h4>
					</section>
				</section>

				<section class="about-copyright">
					<div>
						<img alt="github-logo" />
					</div>
					<div>
						<article>
							&copy; Mohammed Putra, Mohammed Al-ghazali , Marawan Khankan, and Osamah Al-sumaitit , All
							Rights Reserved.
						</article>
					</div>
				</section>
			</section>
		</footer>
	</block>
</template> -->
