<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/vite.svg"
		/>
		<link
			rel="stylesheet"
			href="/src/styles/index.css"
		/>
		<title>{{ title }}</title>
	</head>
	<body id="app">
		<!-- Component Templates -->
		<include src="{{ base_url }}/components/Button/template.html"></include>
		<include src="{{ base_url }}/components/Dropdown/template.html"></include>
		<include src="{{ base_url }}/components/NumericInput/template.html"></include>
		<include src="{{ base_url }}/components/DroneViewer/template.html"></include>

		<!-- Component Scripts -->
		<script
			type="module"
			src="/src/scripts/index.ts"
		></script>

		<!-- Main Entrypoint -->
		<block name="app"></block>

		<!-- Scripts -->
	</body>
</html>
