<!doctype html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/icons/DJI Favicon.svg"
		/>
		<link
			rel="preload"
			href="/src/styles/fonts.css"
			onload="this.rel = 'stylesheet'"
			as="style"
		/>
		<link
			rel="preload"
			href="/src/styles/index.css"
			onload="this.rel = 'stylesheet'"
			as="style"
		/>
		<noscript>
			<link
				rel="stylesheet"
				href="/src/styles/fonts.css"
			/>
			<link
				rel="stylesheet"
				href="/src/styles/index.css"
			/>
		</noscript>

		<!-- Prerender all routes on this website -->
		<script type="speculationrules">
			{
				"prerender": [
					{
						"where": {
							"href_matches": "*"
						},
						"eagerness": "moderate"
					}
				]
			}
		</script>
	</head>
	<body id="app">
		<!-- Component Templates -->
		<include src="{{ base_url }}/components/Alert/template.html"></include>
		<include src="{{ base_url }}/components/Avatar/template.html"></include>
		<include src="{{ base_url }}/components/Button/template.html"></include>
		<include src="{{ base_url }}/components/DroneViewer/template.html"></include>
		<include src="{{ base_url }}/components/Dropdown/template.html"></include>
		<include src="{{ base_url }}/components/Modal/template.html"></include>
		<include src="{{ base_url }}/components/Navbar/template.html"></include>
		<include src="{{ base_url }}/components/NumericInput/template.html"></include>
		<include src="{{ base_url }}/components/PriceDisplay/template.html"></include>
		<include src="{{ base_url }}/components/Rating/template.html"></include>
		<include src="{{ base_url }}/components/TextInput/template.html"></include>

		<!-- Model Scripts -->
		<script
			type="module"
			src="/src/scripts/models/Product.ts"
		></script>
		<script
			type="module"
			src="/src/scripts/models/User.ts"
		></script>

		<!-- Repository Scripts -->
		<script
			type="module"
			src="/src/scripts/db/UserRepository.ts"
		></script>
		<script
			type="module"
			src="/src/scripts/_repos.ts"
		></script>

		<!-- Component Scripts -->
		<script
			type="module"
			src="/src/scripts/_components.ts"
		></script>

		<!-- Main Entrypoint -->
		<ui-navbar type="{{ type }}"></ui-navbar>
		<main>
			<block name="app"></block>
		</main>

		<!-- Scripts -->
		<script
			type="module"
			src="/src/scripts/_icons.ts"
		></script>
		<script
			type="module"
			src="/src/scripts/_index.ts"
		></script>

		<!-- Additional Resources -->
		<block name="resources"></block>
	</body>
</html>
